In [84]:
import pandas as pd
import time
import os

In [5]:
data_oct = '../data/2019-Oct.csv'
data_nov = '../data/2019-Nov.csv'
timing_path = '../stats/timings.csv'

In [6]:
if os.path.exists(timing_path):
    timing = pd.read_csv(timing_path, index_col=0)
else:
    timing = pd.DataFrame(columns=['Timing_Pandas', 'Timing_Polars'])

1. Lecture des deux jeux de données et concatenation dans un seul dataset

In [8]:
ex = 1

start_time = time.time()

raw_data_oct = pd.read_csv(data_oct)
raw_data_nov = pd.read_csv(data_nov)

data = pd.concat([raw_data_oct, raw_data_nov])

end_time = time.time()

execution_time = round(end_time - start_time, 2)

timing.loc[ex, 'Timing_Pandas'] = execution_time

print(f"Temps d'exécution de l'exercise {ex} : {execution_time} secondes")

Temps d'exécution de l'exercise 1 : 76.65 secondes

2.	Affichage des informations basiques du jeu de données : quantité de lignes, colonnes, types des données, etc.

In [13]:
ex = 2

start_time = time.time()

print(data.head())

print(data.info())

print(data.describe())

end_time = time.time()

execution_time = round(end_time - start_time, 2)

timing.loc[ex, 'Timing_Pandas'] = execution_time

print(f"Temps d'exécution de l'exercise {ex} : {execution_time} secondes")

                event_time event_type  product_id          category_id  \
0  2019-10-01 00:00:00 UTC       view    44600062  2103807459595387724
1  2019-10-01 00:00:00 UTC       view     3900821  2053013552326770905
2  2019-10-01 00:00:01 UTC       view    17200506  2053013559792632471
3  2019-10-01 00:00:01 UTC       view     1307067  2053013558920217191
4  2019-10-01 00:00:04 UTC       view     1004237  2053013555631882655

                         category_code     brand    price    user_id  \
0                                  NaN  shiseido    35.79  541312140
1  appliances.environment.water_heater      aqua    33.20  554748717
2           furniture.living_room.sofa       NaN   543.10  519107250
3                   computers.notebook    lenovo   251.74  550050854
4               electronics.smartphone     apple  1081.98  535871217

                           user_session
0  72d76fde-8bb3-4e00-8c23-a032dfed738c
1  9333dfbd-b87a-4708-9857-6336556b0fcc
2  566511c2-e2e3-422b-b695-cf8e6e792ca8
3  7c90fc70-0e80-4590-96f3-13c02c18c713
4  c6bd7419-2748-4c56-95b4-8cec9ff8b80d
<class 'pandas.core.frame.DataFrame'>
Index: 109950743 entries, 0 to 67501978
Data columns (total 9 columns):
 #   Column         Dtype
---  ------         -----
 0   event_time     object
 1   event_type     object
 2   product_id     int64
 3   category_id    int64
 4   category_code  object
 5   brand          object
 6   price          float64
 7   user_id        int64
 8   user_session   object
dtypes: float64(1), int64(3), object(5)
memory usage: 8.2+ GB
None
         product_id   category_id         price       user_id
count  1.099507e+08  1.099507e+08  1.099507e+08  1.099507e+08
mean   1.175577e+07  2.057707e+18  2.916348e+02  5.366698e+08
std    1.543564e+07  1.949326e+16  3.566800e+02  2.145173e+07
min    1.000365e+06  2.053014e+18  0.000000e+00  1.030022e+07
25%    1.005256e+06  2.053014e+18  6.796000e+01  5.162629e+08
50%    5.100396e+06  2.053014e+18  1.649300e+02  5.326415e+08
75%    1.720051e+07  2.053014e+18  3.601100e+02  5.563312e+08
max    1.000286e+08  2.187708e+18  2.574070e+03  5.799699e+08
Temps d'exécution de l'exercise 2 : 9.76 secondes

3.	Affichage de la quantité de produits, marques et utilisateurs dans le dataset, sans répétitions

In [18]:
ex = 3

start_time = time.time()

print("Quantité de produits uniques dans le dataset")
print(len(data['product_id'].unique()))

print("Quantité de marques uniques dans le dataset")
print(len(data['brand'].unique()))

print("Quantité d'utilisateurs uniques dans le dataset")
print(len(data['user_id'].unique()))

end_time = time.time()

execution_time = round(end_time - start_time, 2)

timing.loc[ex, 'Timing_Pandas'] = execution_time

print(f"Temps d'exécution de l'exercise {ex} : {execution_time} secondes")

Quantité de produits uniques dans le dataset
206876
Quantité de marques uniques dans le dataset
4303
Quantité d'utilisateurs uniques dans le dataset
5316649
Temps d'exécution de l'exercise 3 : 6.35 secondes

4. Affichage du top 5 de marques et catégories avec le prix moyen le plus élevé

In [27]:
ex = 4

start_time = time.time()

print("Top 5 de marques avec le prix moyen le plus élevé")
result_brand = data.groupby('brand').agg({'price' : 'mean'})
result_brand.sort_values(by='price', ascending=False, inplace=True)
print(result_brand.head(5))

print("Top 5 de catégories avec le prix moyen le plus élevé")
result_category = data.groupby('category_id').agg({'price' : 'mean'})
result_category.sort_values(by='price', ascending=False, inplace=True)
print(result_category.head(5))

end_time = time.time()

execution_time = round(end_time - start_time, 2)

timing.loc[ex, 'Timing_Pandas'] = execution_time

print(f"Temps d'exécution de l'exercise {ex} : {execution_time} secondes")

Top 5 de marques avec le prix moyen le plus élevé
                   price
brand
pinarello    2533.238401
nordictrack  2522.590000
kessler      2372.000000
yjfitness    2344.980000
climadiff    2261.951167
Top 5 de catégories avec le prix moyen le plus élevé
                           price
category_id
2104564977263182827  1673.140000
2059484601444729123  1666.933341
2053013564523807647  1527.039375
2144356630513320518  1489.794378
2179887855134835524  1381.505340
Temps d'exécution de l'exercise 4 : 5.59 secondes

5.	Calcul du min, max et moyenne de prix par marque et par catégorie

In [28]:
ex = 5

start_time = time.time()

print("Min, max et moyenne de prix par marque")
result_brand = data.groupby('brand').agg({'price' : ['min', 'max', 'mean']})
print(result_brand.head(5))

print("Min, max et moyenne de prix par catégorie")
result_category = data.groupby('brand').agg({'price' : ['min', 'max', 'mean']})
print(result_category.head(5))

end_time = time.time()

execution_time = round(end_time - start_time, 2)

timing.loc[ex, 'Timing_Pandas'] = execution_time

print(f"Temps d'exécution de l'exercise {ex} : {execution_time} secondes")

Min, max et moyenne de prix par marque
          price
            min     max       mean
brand
a-case     1.21  154.44  12.142794
a-derma    5.15   22.39  13.906379
a-elita    8.49   73.28  45.051727
a-mega    25.74  218.80  84.286734
aardwolf   8.98   84.43  39.057414
Min, max et moyenne de prix par catégorie
          price
            min     max       mean
brand
a-case     1.21  154.44  12.142794
a-derma    5.15   22.39  13.906379
a-elita    8.49   73.28  45.051727
a-mega    25.74  218.80  84.286734
aardwolf   8.98   84.43  39.057414
Temps d'exécution de l'exercise 5 : 9.9 secondes

6.	Affichage des 5 prix les plus élevés

In [57]:
ex = 6

start_time = time.time()

print("5 prix les plus élevés")
result = data['price'].drop_duplicates().sort_values(ascending=False)
print(result.head(5).to_string(index=False))

end_time = time.time()

execution_time = round(end_time - start_time, 2)

timing.loc[ex, 'Timing_Pandas'] = execution_time

print(f"Temps d'exécution de l'exercise {ex} : {execution_time} secondes")

5 prix les plus élevés
2574.07
2574.04
2573.99
2573.81
2573.79
Temps d'exécution de l'exercise 6 : 0.86 secondes

7.	Affichage de la quantité d’articles par marque et par catégorie, en utilisant une fonction d’agrégation

In [59]:
ex = 7

start_time = time.time()

print("Quantité d’articles par marque, en utilisant une fonction d’agrégation")
result_brand = data.groupby('brand').agg({'product_id' : 'count'})
print(result_brand.head(5))

print("Quantité d’articles par catégorie, en utilisant une fonction d’agrégation")
result_category = data.groupby('category_id').agg({'product_id' : 'count'})
print(result_category.head(5))

end_time = time.time()

execution_time = round(end_time - start_time, 2)

timing.loc[ex, 'Timing_Pandas'] = execution_time

print(f"Temps d'exécution de l'exercise {ex} : {execution_time} secondes")

Quantité d’articles par marque, en utilisant une fonction d’agrégation
          product_id
brand
a-case         19503
a-derma          729
a-elita          521
a-mega          1384
aardwolf         526
Quantité d’articles par catégorie, en utilisant une fonction d’agrégation
                     product_id
category_id
2053013552226107603        5644
2053013552259662037      302746
2053013552293216471      444842
2053013552326770905      354845
2053013552351936731      140952
Temps d'exécution de l'exercise 7 : 5.25 secondes

  8. Affichage de la quantité d’événements par type, en utilisant une fonction d’agrégation

In [72]:
ex = 8

start_time = time.time()

print("Quantité d’événements par type")
result = data.groupby('event_type').agg({'event_time' : 'count'})
result.reset_index(inplace=True)
result.columns = ('Event_type', 'Event_qty')
print(result.head(5))


end_time = time.time()

execution_time = round(end_time - start_time, 2)

timing.loc[ex, 'Timing_Pandas'] = execution_time

print(f"Temps d'exécution de l'exercise {ex} : {execution_time} secondes")

Quantité d’événements par type
  Event_type  Event_qty
0       cart    3955446
1   purchase    1659788
2       view  104335509
Temps d'exécution de l'exercise 8 : 4.34 secondes

9.	Création et affichage d'un tableau qui contient la quantité d’événements de chaque type par marque

In [73]:
ex = 9

start_time = time.time()

print("Quantité d’événements de chaque type par marque")
result = data.groupby(['event_type', 'brand']).agg({'event_time' : 'count'})
result.reset_index(inplace=True)
result.columns = ('Event_type', 'Brand', 'Event qty')
print(result.head(5))

end_time = time.time()

execution_time = round(end_time - start_time, 2)

timing.loc[ex, 'Timing_Pandas'] = execution_time

print(f"Temps d'exécution de l'exercise {ex} : {execution_time} secondes")

Quantité d’événements de chaque type par marque
  Event_type     Brand  Event qty
0       cart    a-case        326
1       cart   a-derma         23
2       cart   a-elita          8
3       cart    a-mega         29
4       cart  aardwolf         13
Temps d'exécution de l'exercise 9 : 10.54 secondes

10. Création et affichage d'un tableau qui contient la quantité d’événements de chaque type par marque et utilisateur

In [75]:
ex = 10

start_time = time.time()

print("Quantité d’événements de chaque type par marque et utilisateur")
result = data.groupby(['event_type', 'brand', 'user_id']).agg({'event_time' : 'count'})
result.reset_index(inplace=True)
result.columns = ('Event_type', 'Brand', 'User', 'Event qty')
print(result.head(5))

end_time = time.time()

execution_time = round(end_time - start_time, 2)

timing.loc[ex, 'Timing_Pandas'] = execution_time

print(f"Temps d'exécution de l'exercise {ex} : {execution_time} secondes")

Quantité d’événements de chaque type par marque et utilisateur
  Event_type   Brand       User  Event qty
0       cart  a-case  512417359          1
1       cart  a-case  512842481          1
2       cart  a-case  512848407          1
3       cart  a-case  512885998          1
4       cart  a-case  512993513          2
Temps d'exécution de l'exercise 10 : 26.66 secondes

11. Affichage du percentage de données vides ou nulles par colonne

In [78]:
ex = 11

start_time = time.time()

print("Percentage de données vides ou nulles par colonne")
total = len(data)
for col in data.columns:
    is_na = data[col].isna().sum()
    print(f"Valeurs manquantes dans la colonne {col} : {is_na} -> {round(100 * is_na/total, 2)}%")

end_time = time.time()

execution_time = round(end_time - start_time, 2)

timing.loc[ex, 'Timing_Pandas'] = execution_time

print(f"Temps d'exécution de l'exercise {ex} : {execution_time} secondes")

Percentage de données vides ou nulles par colonne
Valeurs manquantes dans la colonne event_time : 0 -> 0.0%
Valeurs manquantes dans la colonne event_type : 0 -> 0.0%
Valeurs manquantes dans la colonne product_id : 0 -> 0.0%
Valeurs manquantes dans la colonne category_id : 0 -> 0.0%
Valeurs manquantes dans la colonne category_code : 35413780 -> 32.21%
Valeurs manquantes dans la colonne brand : 15341158 -> 13.95%
Valeurs manquantes dans la colonne price : 0 -> 0.0%
Valeurs manquantes dans la colonne user_id : 0 -> 0.0%
Valeurs manquantes dans la colonne user_session : 12 -> 0.0%
Temps d'exécution de l'exercise 11 : 7.84 secondes

12. Suppression de lignes vides si le total par colonne ne dépasse pâs 15%

In [79]:
ex = 12

start_time = time.time()

total = len(data)
print(f"Total de lignes : {total}")

col_to_del = []
for col in data.columns:
    is_na = data[col].isna().sum() * 100 / total
    if 0<is_na<15:
        col_to_del.append(col)
        
filtered_data = data.dropna(subset=col_to_del)

total = len(filtered_data)
print(f"Total de lignes : {total}")
    
end_time = time.time()

execution_time = round(end_time - start_time, 2)

timing.loc[ex, 'Timing_Pandas'] = execution_time

print(f"Temps d'exécution de l'exercise {ex} : {execution_time} secondes")

Total de lignes : 109950743
Total de lignes : 94609575
Temps d'exécution de l'exercise 12 : 15.89 secondes

In [82]:
timing

   Timing_Pandas Timing_Polars
1          76.65           NaN
2           9.76           NaN
3           6.35           NaN
4           5.59           NaN
5            9.9           NaN
6           0.86           NaN
7           5.25           NaN
8           4.34           NaN
9          10.54           NaN
0           26.7           NaN
10         26.66           NaN
11          7.84           NaN
12         15.89           NaN

In [83]:
timing.to_csv(timing_path)